<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form th:action="@{/events/edit}" method="post">
    <div class="form-group">
        <label>Name
            <input type="text" name="name" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Description
            <input type="text" name="description"  class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Country
            <input type="text" name="country"  class="form-control">
        </label>
    </div>
    <!-- Hidden input field for event ID -->
    <input type="hidden" th:value="${event.id}" name="eventId" />

    <br>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-success">
    </div>
</form>

</body>
</html>